body
{
    
    background-image:url(http://khirviko.users.cs.helsinki.fi/luke-javawalker/thumb_up.png);
    font-family: fantasy;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    vertical-align: bottom;
    text-align: center;
    background-position: left bottom;
    color: black;
    background-repeat: no-repeat;
    background-attachment: none;
}
h1
{
    color:black;
    text-align:center;

    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    font-family: fantasy;
    font-size: 60px;
    background-position: bottom bottom;
    vertical-align: bottom;
    background-repeat: repeat;
}
p
{
    font-family:"Times New Roman";
    font-size:36px;
    
    color: black;
}