body
{
    
    background-image:url(http://desktopwallpaperdownload.files.wordpress.com/2012/01/gaming-wallpaper-full-hd-starcraft-epic-face-blue-eye.jpg);
    font-family: fantasy;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    background-position: inherit inherit;
}
h1
{
    color:black;
    text-align:center;

    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    font-family: fantasy;
    font-size: 60px;
}
p
{
    font-family:fantasy;
    font-size:44px;
    color: black;
}
body{
    
    color: black;
    font-size: X-large;
    font-family: fantasy;
}