body
{
    
    background-image:url(http://desktopwallpaperdownload.files.wordpress.com/2012/01/gaming-wallpaper-full-hd-starcraft-epic-face-blue-eye.jpg);
    font-family: fantasy;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    background-position: inherit inherit;
}
h1
{
    color:black;
    text-align:center;

    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    font-family: fantasy;
    font-size: 60px;
}
p
{
    font-family:fantasy;
    font-size:44px;
    color: black;
}
body{
    
    color: black;
    font-size: X-large;
    font-family: fantasy;
}
a {
    color:black;
    padding:5px;
    text-decoration:none;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-variant: small-caps;
    font-size: 36px;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
}
a:active {
    color:black;
    padding:5px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 36px;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
}